.top{
text-align: center;
color: white;
}
.order{
color: white;
text-align: center;
}
.pic{
    width: 300px;
    height: 200px;
    display: flex;
    flex-flow:row;
    justify-content: start;}

.gridlayout{
display: grid;
background-color: black;
padding: 5px;
grid-template-columns: auto;
grid-template-rows: 15px;}

.griditem{
color:  white;
 border: 5px;
 padding: 5px;
font-size: 20px;
text-align: center;}